# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [17]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [18]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")

cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")

cars1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick,NaN,NaN,NaN,NaN,NaN
194,22.5,6,232,90,3085,17.6,76,1,amc hornet,NaN,NaN,NaN,NaN,NaN
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette,NaN,NaN,NaN,NaN,NaN
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody,NaN,NaN,NaN,NaN,NaN
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit,NaN,NaN,NaN,NaN,NaN

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [19]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick
194,22.5,6,232,90,3085,17.6,76,1,amc hornet
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit

### Step 5. What is the number of observations in each dataset?

In [20]:
print(len(cars1))
print(len(cars2))

198
200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [21]:
cars = cars1.append(cars2)
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [23]:
random_numbers = np.random.randint(15000, 73001, size=398)
random_numbers

array([39390, 67665, 49542, 38963, 35557, 47384, 59140, 27422, 69289,
       22840, 43082, 44187, 56391, 54228, 43276, 56274, 52784, 69372,
       30975, 50322, 66573, 48504, 25714, 52111, 28870, 41453, 39798,
       46317, 15076, 28116, 49473, 33051, 26579, 15233, 39237, 46250,
       72480, 51703, 34637, 65169, 65862, 41910, 46834, 56544, 43696,
       63304, 18704, 29403, 60396, 25203, 45833, 29691, 18858, 35677,
       60807, 43834, 53252, 56883, 60847, 25937, 51032, 15086, 33736,
       37606, 64966, 31599, 28910, 48407, 33946, 32828, 20874, 53241,
       71743, 19733, 30360, 24547, 25869, 45952, 42166, 37227, 45560,
       26620, 52747, 63436, 20013, 65103, 31044, 49580, 68873, 68549,
       29629, 56815, 33129, 61333, 54744, 71430, 37834, 19169, 66082,
       24189, 52758, 45134, 59946, 30097, 28323, 29307, 70827, 46160,
       45939, 29356, 63724, 36663, 44096, 52610, 59382, 22455, 41985,
       46347, 36243, 62608, 33375, 28684, 56807, 61843, 68210, 38552,
       53143, 19359, 40048, 68449, 24442, 49354, 59668, 48699, 20071,
       63942, 64553, 72465, 59653, 17405, 66296, 28617, 28805, 55886,
       67796, 32032, 43701, 19583, 15381, 57167, 15642, 70469, 71215,
       21071, 44011, 19111, 38892, 53838, 15674, 71815, 40192, 47707,
       48216, 63316, 18204, 31348, 22735, 68745, 27841, 70802, 39089,
       59518, 40755, 15866, 70352, 28119, 44751, 55656, 55082, 18646,
       40887, 31114, 35375, 16261, 58005, 37117, 31204, 62192, 26950,
       39523, 57518, 43600, 52045, 54991, 69953, 29606, 62325, 55245,
       52798, 55508, 16699, 31663, 34812, 20824, 41504, 55540, 47270,
       16508, 23688, 28126, 32876, 32217, 46042, 42704, 15384, 60984,
       23660, 36809, 20874, 55427, 64480, 65404, 58551, 44780, 45708,
       18872, 54146, 47460, 42154, 19576, 53042, 61751, 57920, 19149,
       30695, 50043, 51302, 23221, 60748, 47917, 68973, 60076, 55740,
       29518, 27264, 71887, 15962, 68334, 33185, 45327, 39430, 57208,
       48719, 55213, 54326, 23325, 40780, 29913, 33640, 29518, 45944,
       16660, 15424, 44409, 50982, 35316, 43126, 23022, 48055, 52558,
       40671, 48993, 18293, 39285, 36695, 19731, 34717, 49007, 63177,
       48735, 40526, 35193, 54755, 69531, 50479, 44828, 58468, 27724,
       56886, 40244, 40357, 43915, 61240, 44627, 28915, 42959, 67739,
       25936, 60480, 52848, 47031, 24512, 23700, 48083, 23607, 48227,
       60699, 41143, 39913, 53058, 49009, 32058, 31322, 52119, 67682,
       39586, 51909, 26062, 57493, 58119, 53494, 65960, 33682, 30626,
       37882, 38842, 38560, 38066, 30931, 66590, 20786, 18632, 29440,
       37506, 26175, 44820, 29736, 50461, 45823, 24057, 59185, 66126,
       66276, 15682, 44476, 60662, 64897, 64530, 46725, 34239, 21085,
       44247, 33540, 30756, 45756, 58119, 58854, 38521, 30742, 27872,
       20059, 19679, 62042, 25716, 29016, 22785, 45482, 15577, 54588,
       33409, 25635, 56839, 34408, 47975, 28357, 48727, 47441, 36806,
       44930, 49863, 38387, 66124, 17576, 66556, 64984, 66937, 34095,
       41994, 21287, 45765, 59919, 41371, 25293, 63149, 31983, 17068,
       33474, 60778])

### Step 8. Add the column owners to cars

In [24]:
cars["owners"] = random_numbers
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,39390
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,67665
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,49542
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,38963
4,17.0,8,302,140,3449,10.5,70,1,ford torino,35557
...,...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,63149
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,31983
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,17068
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,33474
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,60778